.vscode/**
.vscode-test/**
.git/**
.github/**
.gitignore
.gitattributes
.editorconfig
**/.DS_Store

examples/**
node_modules/**
*.vsix

H_NOTESSESSION_CLASS-0.html
**/*.map
**/*.log
**/.cache/**

.cursor/**
.cursorrules
*.code-workspace
